div#nav_bar {
  width: 100%;
  margin: auto;
}

div#nav_bar a span {
  display: none;
}
div#nav_bar a:hover span {
   display: block;
   font-size: 16px;
   position: absolute; top: 72px; left: 0;
   width: 15%;
   text-align: left;
   padding: 5px; margin: 10px; z-index: 100;
}

div#nav_bar #action_bar {
  padding: 10px 15px 0px;
  border-bottom: 20px solid #000;
  text-align: right;
}
div#nav_bar .action {
  font-size : 16px;
  display : inline-block;
  display: inline-block;
  text-align: center; 
  background-color: #fff;
  margin-right: 2px;
  font-weight: bold;
}

div#nav_bar .current_action {
  text-align: center;
  padding: 5px 15px 2px;
  background-color: #000;
  color: #fff;
}

div#nav_bar .wiki {
  font-weight: bold;
  display: inline-block;
  font-size: 22px;
  float: left;
}

div#nav_bar .wiki a {
  text-decoration : none;
  border-bottom : none;
  display: inline-block;
  padding: 5px 15px 2px;
  background-color: black;
  color: #fff;
  font-size: 16px;
}
div#nav_bar .page {
  font-size: 26px;
  display: inline-block;
  padding: 5px 0px;
  margin-left: 0px;
  color: #000;
}
div#nav_bar .separator {
  width: auto;
}
div#nav_bar .action a {
  color : #333;
  text-decoration : none;
  border-bottom : none;
  display: inline-block;
  padding: 5px 15px 2px;
}
#content {
  border-left: 5px solid #000;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  margin : auto;
}

#content a:visited, #content a {
  color : #4c4c43;
  font-size : 100%;
  text-decoration : none;
  border-bottom : 1px dotted #cdcdcd;
  font-family : sans-serif
}

a:hover {
  color : #ff0d51 !important;
  border-bottom : none;
}

#content form#rename #rename_bar {
  position : relative
}

#content form#rename #rename_label {
  position : absolute;
  left : 8px;
  top : 6px;
  height : 35px;
  font-size : 14px
}

#content form#rename input[name="new_name"] {
  font-size : 30px;
  padding-left : 100px;
  margin-right : 100px;
  width : 100%;
  margin-bottom : 20px;
  border : 3px solid #cdcdcd
}

#content form#rename input[value="rename"] {
  position : absolute;
  right : 10px;
  top : 10px;
  height : 25px
}

#content form input[type=submit] {
  font-weight: bold;
  font-size: 16px;
}

#content form#edit textarea#data {
  height : 300px;
  width : 100%;
  overflow : auto;
  padding : 5px;
  border : 3px solid #cdcdcd;
  margin-bottom : 20px
}

#content pre {
  white-space: pre-wrap;
}

#content #diff {
  font-family: monospace;
}

#content #diff .add {
  color: #73d216;
}

#content #diff .del {
  color: #ef2929;
}


#debug {
  height : 200px;
  left : 0;
  overflow-y : scroll;
  position : absolute;
  width : 100%;
  border : 1px solid #cdcdcd
}

body {
  font-family: helvetica;
  width: 70%;
  margin:auto;
  padding-left: 50px;
}
